body {
    background-color:black; 
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    width: 320px;
  }
  

  .input-group {
    margin: 10px ;
    display: grid;

  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px solid;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0258b4;
  }
  .btn{
    margin-left: 100px;
  }